<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <header class="grid medium-up--grid--table section-header small--text-center">
        <div class="grid__item medium-up--one-half section-header__item">
            <h1 class="section-header__title">Jackets</h1>
        </div>
        <div class="grid__item medium-up--one-half medium-up--text-right section-header__item">
            <div id="shopify-section-collection-filters" class="shopify-section">
                <div data-section-id="collection-filters" data-section-type="collection-filters">
                    <div class="collection-sort">
                        <label for="SortTags" class="collection-sort__label">Filter by</label>
                        <select name="SortTags" id="SortTags" class="collection-sort__input">
                <option value="/collections/jackets">All</option>
                <option value="/collections/jackets/2016">2016</option>
                <option value="/collections/jackets/jacket">jacket</option>
                <option value="/collections/jackets/jackets">Jackets</option>
                <option value="/collections/jackets/layers">layers</option>
                <option value="/collections/jackets/obermeyer">Obermeyer</option>
                <option value="/collections/jackets/roxy">Roxy</option>
                <option value="/collections/jackets/womens">womens</option>
              </select>
                    </div>
                    <div class="collection-sort">
                        <label for="SortBy" class="collection-sort__label">Sort by</label>
                        <select name="sort_by" id="SortBy" aria-describedby="a11y-refresh-page-message" class="collection-sort__input">
                <option value="manual" selected="selected">Featured</option>
                <option value="best-selling">Best selling</option>
                <option value="title-ascending">Alphabetically, A-Z</option>
                <option value="title-descending">Alphabetically, Z-A</option>
                <option value="price-ascending">Price, low to high</option>
                <option value="price-descending">Price, high to low</option>
                <option value="created-ascending">Date, old to new</option>
                <option value="created-descending">Date, new to old</option>
              </select>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>